page-login {
  .top{
    text-align:center;
    padding-top:10vh;
  }
  ion-content{
    background: url('../../assets/images/background.jpg');
  }
  ion-list, ion-item{
    background:transparent
  }
  .item-ios{
    background: transparent;
  }
  ion-label{
    font-weight:500;
    color:$primary;
  }
  ion-input{
    color:#777;
  }
}
