<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button icon-only tappable (click)="manageRequests()"><ion-icon name="md-filing"></ion-icon><ion-badge color="danger" *ngIf="friendRequests">{{friendRequests.length}}</ion-badge></button>
    </ion-buttons>
    <ion-title>Friends</ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable (click)="searchPeople()"><ion-icon name="md-search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- No friends to show -->
  <div class="empty-list" *ngIf="friends && friends.length == 0">
    <h1><ion-icon name="contacts"></ion-icon></h1>
    <p>You don't have new friend yet</p>
    <button ion-button icon-left tappable (click)="searchPeople()"><ion-icon name="search"></ion-icon>Search People</button>
  </div>
  <!-- Show list of friends -->
  <ion-list class="avatar-list" *ngIf="friends && friends.length > 0">
    <ion-searchbar [(ngModel)]="searchFriend" placeholder="Search for friend or username" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
    <ion-item *ngFor="let friend of friends | friendFilter:searchFriend" no-lines (click)="message(friend.$key); $event.stopPropagation();">
      <ion-avatar item-left>
        <img src="{{friend.img}}">
      </ion-avatar>
      <h2>{{friend.name}}</h2>
      <p>{{friend.description}}</p>
    </ion-item>
  </ion-list>
</ion-content>